@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5 img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

/*
* column settings
*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 0;
}


/*
* columun 1 から 12を書き加える
* flexboxを使用して、widthを%で書く
*/



/*
* main top
*/

.top-main {
  /* background-image: url(../shared/yaoqi-lai-19429.jpg); */
  color: #ffffff;
  text-align: center;
  position: relative;
}

.hero-message {
  z-index: 1;
  position: absolute;
}

.hero-image {
  z-index: 0;
  object-fit: fill;

}


.top-main h2 {
  color:#ffffff;
  width:auto;
  text-align: center;
  margin: 30px 0;
  
}

.top-main h1 {
  color:#ffffff;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  text-align: center;
  border-bottom: 1px solid;
  padding: 30px;
  
}

.top-main p {
  color:#ffffff;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  text-align: center;
  margin: 50px 350px;
  
}

.hero-image img {
 object-fit: cover;
 height: 500px;
 width: 100%;
}

/*
* middle section
*/

.middle-section {
  grid-template-rows: 1fr 1fr;

}

.middle-columns {
  max-height: 473px;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  display: grid;
}

.middle-columns-text {
  align-self: stretch;
}

.middle-columns-upper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}

.middle-columns-lower {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.middle-columns {
font-size: 18px;
}

.middle-columns h3 {
  color: rgb(133, 152, 206);
  justify-content: space-around;
  grid-row: 1 / 2;
}

.middle-columns h2 {
  font-weight: 600;
  color: black;
  vertical-align: middle;
  grid-row: 2 / 3;
}


.middle-section p {
  color: rgb(133, 152, 206);
  grid-row: 3 / 4;
}

/*
* middle label
*/

.middle-label {
  background-color: rgb(236, 236, 236);
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.middle-label h1 {
  padding: 50px;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.middle-label h2 {
  color: rgb(133, 152, 206);
}

/*
* bottom section
*/

.bottom-message {
  text-align: center;
  font-size: 28px;
  padding: 30px 0 40px 0;
  color: rgb(133, 152, 206);


}

.bottom-columns {
  font-size: 18px;
}

.bottom-columns-upper {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.bottom-columns-lower {
 display: grid;
 grid-template-columns: 1fr 1fr;

}
.bottom-section .slim {
  padding: 50px 50px 30px 80px;
}

.bottom-section-label h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}


/*
* footer
*/

.footer {
  height: 400px;
  background-color: #000000;
  color: #ffffff;
}

.footer h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}
